@page
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    string username = User.Identity.Name;
}
<body>

    <div class="content">
        <component type="typeof(Components.Account.Account)" render-mode="ServerPrerendered" />
        @*<script src="_framework/blazor.server.js"></script>*@
    </div>

</body>