@page
@model ArkWeb.Pages.Account.RegisterModel
@{
}
<div style="background: rgba(0,0,0, 0.5);">
    <p>В разработке</p>
    <form method="post">
        <label for="Login">Имя</label><br />
        <input type="text" name="UserName" id="UserName" /><br /><br />

        <label for="Email">Эл.почта</label><br />
        <input type="text" name="Email" id="Email" /><br /><br />

        <label for="Password">Пароль</label><br />
        <input type="password" name="UsPass" id="Password"> <br /><br />

        <label for="Password">Пароль</label><br />
        <input type="password" name="Pass" > <br /><br />

        <input type="submit" value="Войти" />
    </form>


</div> 