@page
@model ArkWeb.Pages.Shop.IndexModel
@{
    ViewData["Title"] = "Магазин";
}
<body>

    <div class="content">
        <div class="shop">
            <div class="itemshop">

            </div>
        </div>
    </div>

</body>