@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Authorization;
<h1>Hello Blazor Server!</h1>

<button @onclick="IncrementCount">+</button>
<span>@currentCount</span>
<button @onclick="DecrementCount">-</button>

@code {
    

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void DecrementCount()
    {
        currentCount--;
    }
}
