* {
    margin: 0;
    padding: 0;
}
html{
    height:100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    flex: 0 0 auto;
    background-color: #44414d;
    min-height: 50px;
}
article {
    flex: 1 0 auto;
}
footer {
    background-color: #44414d;
    flex: 0 0 auto;
    min-height: 50px;
    color: white;
    display: grid;
    align-content: space-around;
    justify-content: center;
}
#chat-window {
    width: 400px;
    height: 300px;
}
#admin-log {
    background-color: grey;
    color: white;
}

