@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FeedbackModel
@{
    ViewData["Title"] = "Обратная связь";
}
<div class="feedbackpage">
    <div class="feedbackform">
        Спасибо за обращение! <a href="/index" style="color: #ffffff; text-decoration:none;">На главную</a>
    </div>
</div>





