@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Components.Web
@inject AuthenticationStateProvider AuthenticationStateProvider




<button @onclick="@(async () => await GetPlayerList())">Получить список игроков</button>


@result


@code {


    public List<string> players = new List<string> { "" };

    string username;

    string result = "Запуск";

    //User.FindFirst(x => x.Type == "user").Value;

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            username = user.Identity.Name;
        }
        else
        {

        }

    }


    private async Task GetPlayerList()
    {
        
    }
}

