@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FeedbackModel
@{
    ViewData["Title"] = "Обратная связь";
}
<div class="feedbackpage">
    <div class="feedbackform">
        <form id="issue" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="text-align: left;">
                @Html.DisplayNameFor(m => m.FeedbackInput.Name): 
                <select name="feedbacktypeid" asp-items="Model.FeedbackTypeList"></select>
            </div>
            
            <div>
                <label for="desc">Ваше имя<span style="color:red">*</span></label><br>
                <input asp-for="FeedbackInput.Name" class="form-control" /><br>
                <label for="desc">Ваша эл/почта<span style="color:red">*</span></label><br>
                <input asp-for="FeedbackInput.Email" class="form-control" placeholder="test@test.com"/><br>
                <label for="desc">Опишите проблему<span style="color:red">*</span></label>
                <textarea asp-for="FeedbackInput.Desc" class="form-control" placeholder="Описание проблемы/ваши предложения"></textarea><br>
                
                <input type="submit" value="Оправить" />
            </div>
            
        </form>
    </div>
</div>





