@page "{id}"
@model ArkWeb.Pages.NewsModel
@{
    ViewData["Title"]="Новости";
}
<div class="content" style="padding-left:5px;">
    @foreach (var news in Model.News)
    {
    <h1 style="font-size: 20pt; font-family: monospace; margin: 30px; color: #ffffff">

        <a href="" style="color: #ffffff">@news.Title</a>
    </h1>
    <div style="margin:30px">
        @Html.Raw(news.Description) <br><br>
    </div>
    <div style="width:25%; float: left; margin-top: 10px;">Раздел: Новости</div>

    <div style="width: 25%; float: left; margin-top: 10px; text-align: end; ">@news.Name</div>

    <div style="width: 25%; float: right; margin-top: 10px;">@news.DateNew.ToString("yyyy-MM-dd")</div>

    }
    <div id="vk_like" style="margin:10px">
        <script type="text/javascript">
            VK.Widgets.Like("vk_like", { type: "button" });
        </script>
    </div>

    <div id="vk_comments" style="margin-top:10px">
        <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", { limit: 10, attach: "*" });
        </script>
    </div>
</div>
