
@{
    
}
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <span>Список серверов</span>
            <span>Настройки</span>
        </header>
        <article>
            @RenderBody()
        </article>
        <footer>
            <span>Разработано <a href="aparshukov.ru">aparshukov.</a>. Версия приложения : pre-alpha</span>
        </footer>
    </body>
</html>
