@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace ARKServerManager.Pages
@{
}
<div>
    <component type="typeof(Components.ServersList)" render-mode="ServerPrerendered" />
</div>
<div id="admin-log">
    <component type="typeof(Components.AdminLog)" render-mode="ServerPrerendered" />
</div>
