@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace ARKServerManager.Pages
@model IndexModel;
@{
}
<h3>Сервера</h3>
<table>
    <tbody>
        <tr>
            <td>Название</td>
            <td>Отображаемое название</td>
            <td>Карта</td>
            <td>Статус</td>
        </tr>
        @foreach (var p in @Model.Servers)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.PublicName</td>
                <td>@p.Map</td>
                <td>Отключен</td>
                <td><input type="button" value="настроить"/></td>
                <td><input type="button" value="запустить"/></td>
            </tr>
        }
        <tr><td><input type="button" value="add"/></td></tr>
    </tbody>
</table>
<div id="admin-log">
    <h2>Консоль администратора</h2>
    <div id="chat-window">
        <component type="typeof(Components.AdminLog)" render-mode="ServerPrerendered" />
    </div>
    <input />
    <input type="button" value="отправить" />
</div>
